<section class="section-form">
  <div class="section-form__container container">
    <form class="section-form__form-application form-application">
      <h2 class="section-form__title title">Мы всегда вам рады!</h2>

      <p class="section-form__text">
        Безусловно, новая модель организационной деятельности
        в&nbsp;значительной степени обусловливает важность распределения
        внутренних резервов и&nbsp;ресурсов.
        <span
          class="section-form__tooltip tooltip"
          data-tooltip="Реплицированные с зарубежных источников, исследования формируют глобальную сеть."
        >
          <svg class="tooltip__svg">
            <use xlink:href="img/sprite.svg#icon-tooltip"></use>
          </svg>
        </span>
      </p>

      <div class="form-application__wrap-input wrap-input">
        <input
          class="wrap-input__input input"
          type="text"
          name="name"
          placeholder="Как вас зовут?"
        />
        <div class="border"></div>
      </div>

      <div class="form-application__wrap-input wrap-input">
        <input
          class="wrap-input__input input"
          type="text"
          name="phone"
          placeholder="Ваш телефон"
        />
        <div class="border"></div>
      </div>

      <div class="form-application__wrap-input wrap-input">
        <input
          class="wrap-input__input input"
          type="text"
          name="email"
          placeholder="Ваш e-mail"
        />
        <div class="border"></div>
      </div>

      <button class="form-application__btn site-btn">Отправить</button>

      <div class="form-application__checkbox-wrap checkbox-wrap">
        <input id="agreement" class="checkbox-wrap__checkbox" type="checkbox" />

        <label class="checkbox-wrap__label label" for="agreement"
          >Принимаю
          <a class="label__link" href="#">пользовательское соглашение</a>
        </label>
      </div>
    </form>
  </div>
</section>
