<section class="hero">
  <div class="hero__swiper-container">
    <div class="hero__swiper-wrapper swiper-wrapper">
      <div
        class="hero__swiper-slide swiper-slide hero__swiper-slide--background-1"
      >
        <div class="hero__container container">
          <p class="hero__text">Скидка&nbsp;15% на&nbsp;первую покупку</p>
          <button class="hero__btn site-btn">Получить!</button>
        </div>
      </div>

      <div
        class="hero__swiper-slide swiper-slide hero__swiper-slide--background-3"
      >
        <div class="hero__container container">
          <p class="hero__text">1000+ аксессуаров для дома</p>
          <button class="hero__btn site-btn">Получить!</button>
        </div>
      </div>

      <div
        class="hero__swiper-slide swiper-slide hero__swiper-slide--background-2"
      >
        <div class="hero__container container">
          <p class="hero__text hero__text--white">
            Коллекция стильного и&nbsp;яркого текстиля
          </p>
          <button class="hero__btn site-btn">Получить!</button>
        </div>
      </div>

      <div
        class="hero__swiper-slide swiper-slide hero__swiper-slide--background-not-found"
      >
        <div class="hero__container hero__container--not-found container">
          <p class="hero__text hero__text--not-found">
            По вашему запросу ничего не нашлось
          </p>
        </div>
      </div>
    </div>

    <div
      class="hero__swiper-pagination js-hero__swiper-pagination swiper-pagination"
    ></div>
  </div>

  <button class="hero__btn hero__btn--mobile site-btn">Получить!</button>
</section>
