<section class="useful">
  <div class="useful__container container">
    <h2 class="useful__title title">Полезное</h2>

    <div class="useful__wrap-swiper-btn wrap-swiper-btn">
      <div
        class="js-useful__swiper-button-prev swiper-button wrap-swiper-btn__swiper-button-prev arrow-btn"
      >
        <svg
          class="arrow-btn__svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="16" cy="16" r="15" stroke-width="2" />
          <path
            d="M14 11L19 16L14 21"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div
        class="js-useful__swiper-button-next swiper-button wrap-swiper-btn__swiper-button-next arrow-btn"
      >
        <svg
          class="arrow-btn__svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="16" cy="16" r="15" stroke-width="2" />
          <path
            d="M14 11L19 16L14 21"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>

    <div class="useful__swiper-wrap">
      <div
        class="useful__swiper-container js-useful__swiper-container swiper-container"
      >
        <div class="swiper-wrapper">
          <div class="useful__swiper-slide swiper-slide">
            <article class="useful__article-useful article-useful">
              <div
                class="article-useful__image article-useful__image--background-1"
              ></div>
              <div class="article-useful__text-container">
                <h3 class="article-useful__title">
                  И&nbsp;нет сомнений, что сделанные на&nbsp;базе
                  интернет&#8209;аналитики выводы представляют собой не&nbsp;что
                  иное?
                </h3>
                <a class="article-useful__link card-btn" href="#">Читать</a>
              </div>
            </article>
          </div>

          <div class="useful__swiper-slide swiper-slide">
            <article class="useful__article-useful article-useful">
              <div
                class="article-useful__image article-useful__image--background-2"
              ></div>
              <div class="article-useful__text-container">
                <h3 class="article-useful__title">
                  Как принято считать, некоторые особенности приносят
                  несомненную пользу обществу?
                </h3>
                <a class="article-useful__link card-btn" href="#">Читать</a>
              </div>
            </article>
          </div>

          <div class="useful__swiper-slide swiper-slide">
            <article class="useful__article-useful article-useful">
              <div
                class="article-useful__image article-useful__image--background-3"
              ></div>
              <div class="article-useful__text-container">
                <h3 class="article-useful__title">
                  Ясность нашей позиции очевидна: укрепление и развитие
                  внутренней структуры?
                </h3>
                <a class="article-useful__link card-btn" href="#">Читать</a>
              </div>
            </article>
          </div>

          <div class="useful__swiper-slide swiper-slide">
            <article class="useful__article-useful article-useful">
              <div
                class="article-useful__image article-useful__image--background-4"
              ></div>
              <div class="article-useful__text-container">
                <h3 class="article-useful__title">
                  Прежде всего, консультация с&nbsp;широким активом однозначно
                  фиксирует необходимость распределения?
                </h3>
                <a class="article-useful__link card-btn" href="#">Читать</a>
              </div>
            </article>
          </div>

          <div class="useful__swiper-slide swiper-slide">
            <article class="useful__article-useful article-useful">
              <div
                class="article-useful__image article-useful__image--background-5"
              ></div>
              <div class="article-useful__text-container">
                <h3 class="article-useful__title">
                  Как принято считать, некоторые особенности приносят
                  несомненную пользу обществу?
                </h3>
                <a class="article-useful__link card-btn" href="#">Читать</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
