$primary: #A65CF0;
$primary-light: #C998FB;
$primary-shade: #7033AC;
$pink-light: #F8EFFF;
$pink-violet: #EBD1FF;
$secondary: #FF862F;
$secondary-light: #FFBD59;
$secondary-shade: #BB370E;
$red-input: #FF6972;
$green-input: #B8EC64;
$gold: #D5B986;
$white: #FFFFFF;
$gray-light: #F6F6F6;
$md-gray: #EAEAEA;
$gray: #999999;
$gray-shade: #666666;
$black: #333333;
$background: opacify(#000000, 0.8);
$lime-color: #DAFFD1;
$bone: #FFF5D1;

$container-padding: 40px;
