<div class="catalog__active-filters active-filters">
  <div class="active-filters__active-filter active-filter active-filter--color-1">
    <div class="active-filter__text">Диваны</div>
    <button class="active-filter__btn">x</button>
  </div>

  <div class="active-filters__active-filter active-filter active-filter--color-2">
    <div class="active-filter__text">До 150 000</div>
    <button class="active-filter__btn">x</button>
  </div>

  <div class="active-filters__active-filter active-filter active-filter--color-3">
    <div class="active-filter__text">Без скидки</div>
    <button class="active-filter__btn">x</button>
  </div>

  <div class="active-filters__active-filter active-filter active-filter--color-4">
    <div class="active-filter__text">Оранжевый</div>
    <button class="active-filter__btn">x</button>
  </div>
</div>

