<div class="bread-crumbs">
  <div class="container">
    <ul class="bread-crumbs__list">
      <li class="bread-crumbs__item">
        <a class="bread-crumbs__link" href="index.html">Главная</a>
      </li>
      <li class="bread-crumbs__item">
        <a class="bread-crumbs__link" href="">Каталог</a>
      </li>
      <li class="bread-crumbs__item">
        <a class="bread-crumbs__link" href="">Диваны</a>
      </li>
      <li class="bread-crumbs__item">
        <a class="bread-crumbs__link bread-crumbs__link--active"
          >Прямые диваны</a
        >
      </li>
    </ul>
  </div>
</div>
