<section class="catalog">
  <div class="catalog__wrap-title">
    <h1 class="catalog__title title">Каталог</h1>
  </div>

  <ul id="" class="catalog__card-list card-list">
    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          5,0
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-7-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-7-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-7.png"
            alt="Диван кожаный R-94"
          />
        </picture>
        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван кожаный</span>
            <span class="title-product__model">R-94</span>
          </h3>
          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >94 990 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,9
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-8-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-8-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-8.png"
            alt="Диван апартековый T-75"
          />
        </picture>
        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван апартековый</span>
            <span class="title-product__model">T-75</span>
          </h3>

          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >69 990 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,8
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-9-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-9-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-9.png"
            alt="Диван тканевый D-31"
          />
        </picture>
        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван тканевый</span>
            <span class="title-product__model">D-31</span>
          </h3>
          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >28 490 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,8
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-10-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-10-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-10.png"
            alt="Диван велюровый Y-68"
          />
        </picture>
        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван велюровый</span>
            <span class="title-product__model">Y-68</span>
          </h3>
          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >28 490 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,8
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-11-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-11-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-11.png"
            alt="Диван из шинила W-95"
          />
        </picture>

        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван из&nbsp;шинила</span>
            <span class="title-product__model">W-95</span>
          </h3>

          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >22 990 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,8
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-12-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-12-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-12.png"
            alt="Диван флоковый G-41"
          />
        </picture>

        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван флоковый</span>
            <span class="title-product__model">G-41</span>
          </h3>

          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >17 990 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,8
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-13-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-13-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-13.png"
            alt="Диван велюровый Y-68"
          />
        </picture>
        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван шиниловый</span>
            <span class="title-product__model">V-43</span>
          </h3>

          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >19 990 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,7
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-14-320.png" media="(max-width: 576px)" />
          <source srcset="img/product-14-768.png" media="(max-width: 768px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-14.png"
            alt="Диван велюровый Y-68"
          />
        </picture>

        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван велюровый</span>
            <span class="title-product__model">S-99</span>
          </h3>

          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >19 990 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a
        class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom"
        href="productPage.html"
      >
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,7
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-15-320.png" media="(max-width: 576px)" />
          <img
            class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position"
            src="img/product-15.png"
            alt="Диван из кожзама F-85"
          />
        </picture>

        <div class="card-link__wrap-text">
          <h3
            class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product"
          >
            <span class="title-product__name">Диван из кожзама</span>
            <span class="title-product__model">F-85</span>
          </h3>

          <span
            class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin"
            >19 990 руб</span
          >
          <button
            class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn"
          >
            Купить
          </button>
        </div>
      </a>
    </li>

    <!-- <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,6
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-16-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-16.png" alt="Диван флоковый H-64">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван флоковый</span>
            <span class="title-product__model">H-64</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">25 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,6
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-17-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-17.png" alt="Диван флоковый H-58">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван флоковый</span>
            <span class="title-product__model">H-58</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">23 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,6
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-18-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-18.png" alt="Диван из кожзама F-85">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван из кожзама</span>
            <span class="title-product__model">R-43</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">33 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
     <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,6
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-19-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-19.png" alt="Диван из шинила С-42">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван из шинила</span>
            <span class="title-product__model">С-42</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">18 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
     </a>
    </li>

    <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,6
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-20-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-20.png" alt="Диван велюровый U-58">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван велюровый</span>
            <span class="title-product__model">U-58</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">21 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,5
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-21-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-21.png" alt="Диван флоковый F-41">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван флоковый</span>
            <span class="title-product__model">F-41</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">17 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,5
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-22-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-22.png" alt="Диван велюровый R-85">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван велюровый</span>
            <span class="title-product__model">R-85</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">34 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,5
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-23-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-23.png" alt="Диван велюровый S-44">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван велюровый</span>
            <span class="title-product__model">S-44</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">19 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li>

    <li class="card-list__card-item card-item">
      <a class="card-item__card-link card-link card-link--padding-left-right card-link--padding-top-bottom" href="productPage.html">
        <div class="card-link__rating-wrap rating-wrap">
          <span class="rating-wrap__descr visually-hidden">Рейтинг товара</span>
          4,4
        </div>

        <picture class="card-link__picture card-link__picture--rating-margin">
          <source srcset="img/product-24-320.png" media="(max-width: 576px)">
          <img class="card-link__img card-link__img--size card-link__img--shrink-0 card-link__img--object-position" src="img/product-24.png" alt="Диван из шинила С-80">
         </picture>

        <div class="card-link__wrap-text">
          <h3 class="card-link__title-product card-link__title-product--font-mini card-link__title-product--margin-bottom-auto title-product">
            <span class="title-product__name">Диван из шинила</span>
            <span class="title-product__model">С-80</span>
          </h3>

          <span class="card-link__price card-link__price--color-gray card-link__price--font-size-16 card-link__price--margin">20 990 руб</span>
          <button class="card-link__btn card-link__btn--width-100 card-link__btn--mini card-btn">Купить</button>
        </div>
      </a>
    </li> -->
  </ul>

  <div class="catalog__wrap-buttons wrap-buttons">
    <button class="wrap-buttons__btn wrap-buttons__btn--active">1</button>
    <button class="wrap-buttons__btn">2</button>
  </div>
</section>
