<aside class="filter-container">
  <h3 class="filter-container__title title">Фильтровать по:</h3>

  <div class="filter-container__filter filter">
    <h4 class="filter__title">Категория</h4>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="sofas" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="sofas">Диваны</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="armchair" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="armchair">Кресла</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="poufs" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="poufs">Пуфы</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="beds" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="beds">Кровати</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="curbstones" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="curbstones">Тумбы</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="dressers" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="dressers">Комоды</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="chairs" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="chairs">Стулья</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="tables" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="tables">Столы</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="accessories" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="accessories">Аксессуары</label>
    </div>

    <button class="filter__btn-add btn-add">+ еще 12</button>
  </div>

  <div class="filter-container__filter filter">
    <h4 class="filter__title">Цена</h4>
  </div>

  <div class="filter-container__filter filter">
    <h4 class="filter__title">Скидка</h4>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="more" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="more">Более 5 000</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="less" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="less">Менее 5 000</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="default" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="default">Не важно</label>
    </div>
  </div>

  <div
    class="filter-container__filter filter-container__filter--margin-bottom filter"
  >
    <h4 class="filter__title">Цвет</h4>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="brown" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="brown">Коричневый</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="black" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="black">Черный</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="beige" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="beige">Бежевый</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="gray" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="gray">Серый</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="white" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="white">Белый</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="blue" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="blue">Синий</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="orange" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="orange">Оранжевый</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="yellow" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="yellow">Желтый</label>
    </div>

    <div class="filter__wrap-filter wrap-filter">
      <input class="wrap-filter__input" id="green" type="checkbox" />
      <div class="wrap-filter__checkbox"></div>

      <label class="wrap-filter__label" for="green">Зеленый</label>
    </div>

    <button class="filter__btn-add btn-add">+ еще 7</button>
  </div>

  <div class="filter__promo promo promo--mini">
    <div class="promo__background"></div>

    <div class="promo__wrap-content">
      <p class="promo__title promo__title--mini">Оксфорд 1950</p>
      <p class="promo__text promo__text--mini">
        Новая коллекция изысканных кресел
      </p>
      <a class="link" href="#">
        <span class="link__text">В каталог</span>
        <svg
          class="link__arrow-svg arrow-svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="16" cy="16" r="15" stroke-width="2"></circle>
          <path
            d="M14 11L19 16L14 21"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</aside>
